page-login {
 
  .logo{
    margin-top:30px;
    width: 100%;
    text-align: center;
    h1{
      font-size: 3em;
      font-weight: bold;
      text-shadow: 1px 0px 2px black;
      color:#488aff;
    text-transform: uppercase;
  }
  height:120px;
  }
}
  