//BACKGROUND
#conteudo{
  background-color:#f1f1f1;
}

@media screen and (max-width: 480px) {
    #conteudo {
     
      background: url('../assets/imgs/back.png') bottom center no-repeat,url('../assets/imgs/back-opa.png');
      background-size: contain;
      padding-bottom: 0 !important;
      background-color:#f1f1f1;
    }
  }
  @media screen and (min-width: 480px) and (min-height: 580px) {
    #conteudo {
      background: url('../assets/imgs/back.png') bottom center no-repeat, url('../assets/imgs/back-opa.png');
      background-color:#FFFFFF;
      background-size: cover;
      padding-bottom: 0 !important;
    }
  }
  @media screen and (min-width: 480px) and (max-height: 580px) {
   #conteudo {
      background: url('../assets/imgs/back-opa.png');
      background-color:#FFFFFF;
      
      padding-bottom: 0 !important;
    }
  }