navbar {
   
//Configurações Globais
/* Menu Icon */
#menu{
    float:left;
}
#nav {
    margin-top: -5px;
    position: relative;
  }
  
  #nav span {
    position: relative;
    display: flex;
    height: 2px;
    width: 30px;
    background-color: #fff;
    opacity: 1;
    left: 0;
  }
  
  #nav span:nth-child(1) {
    top: 0;
  }
  
  #nav span:nth-child(2) {
    top: 4px;
    width: 23px;
  
  }
  
  #nav span:nth-child(3) {
    top: 8px;
  }
    
}
