page-resultado {
    .green {
      color: green;
    }
    .green2 {
      color: green;
    }
    .red {
      color: red;
    }
    .ion-list ion-list-header{
      margin:0 !important;
    }
    .list-header-md{
      margin:0 !important;
    }
    .naorespondeu{
      .itemnaorespondido {
        background: rgb(245, 210, 210);
      }
    }
  }
  